<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>

<body> 
  <hr>
  <h1>
    {%for li in lst1%}
      {{li}}
    {%endfor%} 
  </h1>
  <h1>
    {%for li in lst2%}
      {{li}}
    {%endfor%} 
  </h1>
  <h1>
    {%for li in lst3%}
      {{li}}
    {%endfor%} 
  </h1>
  <h1>
    {%for li in lst4%}
      {{li}}
    {%endfor%} 
  </h1>
  <h1>
    {%for li in lst5%}
      {{li}}
    {%endfor%} 
  </h1>
  

  
 
</body>
</html>